.tarefa{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 70vw;
    min-width: 500px;
    padding-top: 20px;

    p{
        color: #FFF;
        font-family: Raleway;
        font-size: 25px;
        font-weight: 400;
        flex-basis: 20%;
    }

    img{
        cursor: pointer;
    } 
}